---
import { Image } from 'astro:assets';
import myBackgroundImage from '../assets/artistic-blurry-colorful-wallpaper-background.jpg';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../styles/styles.css">
        <title>Links-dev</title>
    </head>
    <body>
        <Image src={myBackgroundImage} alt="background" />
    </body>
</html>